@model AuthApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}



    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>@ViewBag.Title</h1>
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@@</span>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                            <button class="btn btn-block btn-success" type="submit">Email Link</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>